{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 offset-md-2">
      <form class="form-inline" method="POST" action=".">
        {% csrf_token %}
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputDnsbox" class="sr-only">Lookup</label>
          <input
            type="text"
            class="form-control form-control-lg"
            name="dns_box"
            id="inputDnsbox"
            placeholder="Enter Domain or IP Address"
            required
          />
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="inputRequesterIP" class="sr-only">Lookup</label>
          <input
            type="hidden"
            class="form-control form-control-lg"
            name="request_ip"
            id="inputRequesterIP"
            readonly
          />
        </div>
        <button class="btn btn-primary btn-lg mb-2">
          Lookup
        </button>
      </form>
    </div>
  </div>
  <div class="row pt-2">
    <div class="col-md-6 offset-md-2">
      {{ setPingResponce|linebreaks }}
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script type="application/javascript">
  $.getJSON("https://api.ipify.org?format=json", function(data) {
    $("#inputRequesterIP").val(data.ip);
  });
</script>
{% endblock %}
