{% extends "base.html" %} {% block content %}
<div class="container">
  <form method="POST" action=".">
    <div class="form-group">
      <label for="exampleInputTitle">Title</label>
      <input
        type="text"
        name="title"
        class="form-control"
        id="exampleInputTitle"
        aria-describedby="titleHelp"
      />
      <small id="titleHelp" class="form-text text-muted">Title</small>
    </div>
    <div class="form-group">
      <label for="exampleInputAuthor">Author</label>
      <input
        type="text"
        name="author"
        class="form-control"
        id="exampleInputAuthor"
        aria-describedby="authorHelp"
      />
      <small id="authorHelp" class="form-text text-muted">Author Name</small>
    </div>
    <div class="form-group">
      <label for="exampleFormControlAudioFile">Upload Audio</label>
      <input
        type="file"
        name="audiofile"
        class="form-control-file"
        id="exampleFormControlAudioFile"
      />
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        name="tnc"
        class="form-check-input"
        id="exampleTnC"
      />
      <label class="form-check-label" for="exampleTnC">Agree With T n C</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
