{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <!-- <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    /> -->
    <!-- Foundation CSS -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>My Tools</title>
  </head>
  <body>
    <!-- Nav Bar Start -->
    <div
      class="title-bar"
      data-responsive-toggle="example-menu"
      data-hide-for="medium"
    >
      <button
        class="menu-icon"
        type="button"
        data-toggle="example-menu"
      ></button>
      <div class="title-bar-title">Menu</div>
    </div>

    <div class="top-bar" id="example-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text">MY Tools</li>
          <li>
            <a href="#">One</a>
            <ul class="menu vertical">
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="ping">Pinger</a></li>
          <li><a href="#">DNS Prober</a></li>
          <li><a href="#">Mr. Audio</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><input type="search" placeholder="Search" /></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
    <!-- Nav Bar End -->
    <div class="grid-container">
      <div class="grid-x">
        <div class="cell text-center">
          <h1>{{title}}</h1>
        </div>
      </div>

      {% block content %}{% endblock %}
      <!-- Footer Block -->
      <div class="footer">
        <div class="text-center">
          Made with <span style="color: #e25555;">&#9829;</span> by
          <a href="https://anishmandal.in" target="_blank">Anish Mandal</a>
        </div>
      </div>
      <!-- Footer Block -->
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script> -->
    <!-- Foundation JS -->
    <script src="{% static 'js/app.js' %}"></script>
    <!-- Optional JavaScript -->
    {% block script %} {% endblock %}
  </body>
</html>
